/* _config.scss
/* x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x */
/* x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x */
/* x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x */


$eggshell:		#f3e8ee;
$blackolive:  	#160f29;
$sandstorm:		#f5d547;
$cherry:		#db3069;
$yaleblue:		#1446a0;


$wrap:            100rem;
$wrap-narrow:     60rem;
$wrap-wide:       140rem;